*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-size:0;
}         
body{
    background-color: rgb(93, 124, 114);
} 
nav a{
    text-decoration:none;
    color:blanchedalmond;
    font-size:14px;
    } 
    nav li{
        float:left;
        width:7.6%;
        padding:10px 10px;
        background-color:#000;
        border:1px solid rgb(235, 225, 225);
        text-align:center;
        color:#fff;
        }
    nav li:hover{
    background-color:#fff;
    color:#000;
    }
    h1{
        font-size: 30px;
        color: aqua;
        text-align:center;
    }
    .section{
        padding: 10PX;

    }