.container
{
    display: grid;
    grid-template-columns: 5% 6% 8% 57% 8% 8% 8%;
    grid-template-rows: minmax(60px, auto);
}
.container div
{
    background: #ecf0f1 ;
    padding: 1em;
    border: 1px solid black;
}
.container div:hover
{
border: 2px solid yellow;
background-color: rgba(137, 43, 226, 0.575);
}
.btn1
{
    background-color:black;
    width: 79px;
    height:49px;
    border-radius: 22px;
    color: #ecf0f1;
}
.btn2
{
 font-size: 18px;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 font-size-adjust: none;

 
}